@tailwind base;
@tailwind components;
@tailwind utilities;

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
html {
   background-color: #000200; /* primary bg color */
   /* padding: 12px; */
   color: #fcfdff75;
   overflow: auto;


}
.b {
   border: 1px solid red;
}

.tradingview-widget-copyright{
   display: none;
}