@tailwind base;
@tailwind components;
@tailwind utilities;

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
html {

   color: #fcfdff75;
   scrollbar-width: thin;
   scrollbar-color: #6a748775 #000200;
   background-color: #101217;



}
.b {
   border: 1px solid red;
}

.tradingview-widget-copyright {
   display: none;
}

