@tailwind base;
@tailwind components;
@tailwind utilities;

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
html {
   /* primary */
   /* background-color: #000200;  */
   /* padding: 12px; */
   color: #fcfdff75;
   scrollbar-width: thin;
   scrollbar-color: #6a748775 #000200;


}
.b {
   border: 1px solid red;
}

.tradingview-widget-copyright {
   display: none;
}


.custom-scrollbar{
   scrollbar-color: #6a748775 #000200;
   scrollbar-width: thin;
}
